html, body {
    height: 100%;
    width: 100%;
}

.box {
    box-sizing: border-content;
    user-select: none;
}

.view {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.vm {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tontage-title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.input-basic {
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 6px;
}

.input.id, .input.password {
    margin: 12px 0;
    height: 40px;
}

.input-field {
    margin: 0 auto;
    width: 320px;
}

.button-basic {
    background-color: #2497c8;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button-basic:hover {
    background-color: #2497ff;
}

.button-login {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.project {
    border: 0;
    box-sizing: border-box;
    height: 100px;
    padding: 6px;
    width: 100%;
}

.projects-header {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    padding-left: 12px;
}

.project-inner {
    background-color: cornflowerblue;
    border-radius: 3px;
    height: 100%;
    width: 100%;
}

.button-add-project {
    background-color: white;
    border: 3px dashed cornflowerblue;
    height: 100%;
}

.button-add-project:hover {
    background-color: transparent;
}

.button-add-project:hover .button-add-project-text {
    transition: 0.1s linear;
    font-size: 60px;
}

.button-add-project-text {
    font-size: 40px;
    font-weight: bold;
    color: cornflowerblue;
}

.project-title {
    height: 100%;
    float: left;
    width: 200px;
}

.project-title-text {
    color: white;
    font-size: 40px;
    margin-left: 12px;
}

.project-buttons {
    float: right;
    margin-right: 12px;
}

.button-project-edit, .button-project-delete {
    border: 0;
    box-shadow: 1px 1px 1px black;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    text-align: center;
    padding: 0 25px;
}

.button-project-delete {
    background-color: #d51c1c;
}

.button-project-delete:hover {
    background-color: #f51c1c;
}

.button-project-edit {
    background-color: #0c5f83;
}

.button-project-edit:hover {
    background-color: #0c5fa3;
}